 Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
.project
.metadata
.classpath

## Directory-based project format:
.idea/
.settings/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/
target/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Database files
*.db

# Log files
*.log
